/* ===== HERO RÉSERVATION ===== */

.reservation-hero {
    position: relative;
    height: 400px;
    background-image: url('/assets/image.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 110px; /* ajusté selon ta sidebar */
}

.reservation-hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.reservation-hero .hero-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}

.reservation-hero h1 {
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 800;
    color: #ddc670;
}

.reservation-hero p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.hero-content {
    font-size: 48px;
    font-weight: 700;
    color: #ddc670;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;
    animation: revealLetters 2.2s ease forwards;
}

/* Animation luxe */
@keyframes revealLetters {
    0% {
        opacity: 0;
        transform: translateY(25px);
        letter-spacing: 18px;
    }
    40% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;              /* 🤩 Le texte reste visible */
        letter-spacing: 2px;
        transform: translateY(0);
    }
}


